@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="display-4">Discover</h1>

@if (ViewBag.movieList != null)
{
    @foreach (MovieModel movie in ViewBag.movieList)
    {
        <hr />
        <div class="text-center">
            <h5 class="card-title">@movie.Title</h5>

            <a asp-action="Index" asp-route-id="@movie.Id"><img src="https://image.tmdb.org/t/p/original\@movie.Poster_path" width="250" class="img-thumbnail" alt="Image Not Found" /></a>
            <br>
            @if (movie.Release_date != "")
            {
                <p>(<a asp-action="DiscoverMovies" asp-route-year="@movie.Release_date[..4]">@movie.Release_date[..4]</a>)</p>
            }
            <button id="like" title="Thumbs Up">👍</button>
            <button id="dislike" title="Thumbs Down">👎</button>
            <button id="addToList" title="Add to WatchList">👀</button>
        </div>
    }

    @if (ViewBag.page > 1)
    {
        ViewBag.page--;
        <a asp-action="DiscoverMovies" asp-route-year="@ViewBag.year" asp-route-page="@ViewBag.page">&lt; Previous</a>
        ViewBag.page++;
    }

    @if (ViewBag.page < ViewBag.totalPages)
    {
        ViewBag.page++;
        <a asp-action="DiscoverMovies" asp-route-year="@ViewBag.year" asp-route-page="@ViewBag.page" style="float: right">Next &gt;</a>
    }
    <br />
}