@{
    ViewData["Title"] = ViewBag.selection.Replace('_', ' ');
}
@if (ViewBag.page > 500 || ViewBag.page < 1)
{
    <h1 class="alert-danger display-1">Page Does Not Exist</h1>
}
else
{
    <h1 class="text-center card-header display-4">@ViewData["Title"] Movies</h1>
    @foreach (MovieModel movie in ViewBag.movieList)
    {
        <br />
        <div class="text-center">
            <h5 class="card-title">@movie.Title</h5>
            
            <a asp-action="Index" asp-route-id="@movie.Id"><img src="https://image.tmdb.org/t/p/original\@movie.Poster_path" width="250" class="img-thumbnail" alt="Image Not Found"/></a>
            <br>
            @if (movie.Release_date != "")
            {
                <p>(<a asp-action="DiscoverMovies" asp-route-year="@movie.Release_date[..4]">@movie.Release_date[..4]</a>)</p>
            }
            <button id="like" title="Thumbs Up">👍</button>
            <button id="dislike" title="Thumbs Down">👎</button>
            <button id="addToList" title="Add to WatchList">👀</button>
        </div><hr />
    }

    <br />
    @if (ViewBag.page > 1)
    {
        ViewBag.page--;
        <a asp-action="Fetch" asp-route-selection="@ViewBag.selection" asp-route-page="@ViewBag.page">&lt; Previous</a>
        ViewBag.page++;
    }

    
    @if(ViewBag.page < 500)
    {
        ViewBag.page++;
        <a asp-action="Fetch" asp-route-selection="@ViewBag.selection" asp-route-page="@ViewBag.page" style="float: right">Next &gt;</a>
    }
    
    <br />
}