@{
    ViewData["Title"] = "Search Movies";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<form method="post" class="text-center" asp-action="SearchMovies">
    <input type="text" required name="query" />
    <button>🔍</button>
</form>
@if (ViewBag.movieList != null)
{
    <h2>Results for: "@ViewBag.query"</h2>
    @foreach (MovieModel movie in ViewBag.movieList)
    {
        <hr />
        <div class="text-center">
            <h5 class="card-title">@movie.Title</h5>
            @if (movie.Release_date != "")
            {
                <p>(@movie.Release_date[..4])</p>
            }
            <a asp-action="Index" asp-route-id="@movie.Id"><img src="https://image.tmdb.org/t/p/original\@movie.Poster_path" width="250" class="img-thumbnail" /></a>
            <br>
            <button id="like" title="Thumbs Up">👍</button>
            <button id="dislike" title="Thumbs Down">👎</button>
            <button id="addToList" title="Add to WatchList">👀</button>
        </div>
    }

    <br />

    @if (ViewBag.page > 1)
    {
        ViewBag.page--;
        <a asp-controller="Movie" asp-action="SearchMovies" asp-route-query="@ViewBag.query" asp-route-page="@ViewBag.page">&lt; Previous</a>
        ViewBag.page++;
    }

    ViewBag.page++;
    @if (ViewBag.page < ViewBag.totalPages)
    {
        <a asp-controller="Movie" asp-action="SearchMovies" asp-route-query="@ViewBag.query" asp-route-page="@ViewBag.page" style="float: right">Next &gt;</a>
    }
    
    <br />

}



